@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=nunito@300,201,700,900,600,800,400,500&display=swap");

.container {
	display: flex;
	justify-content: center;
	font-family: "Nunito", sans-serif;
	font-weight: 600;
	font-size: 40px;
	text-decoration: none;
	padding: 6px;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
	padding: 10px;
	width: 800px;
	border-radius: 30px;
	background: #f9c5d1;
	box-shadow: 5px 5px 9px #d4aab8, -5px -5px 9px #ffe6fa;
}
