.container {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  width: max-content;
  border-radius: 50px;
  background: #f9c5d1;
  box-shadow: 5px 5px 9px #d4aab8, -5px -5px 9px #ffe6fa;
}
