html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
} */

ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
Link {
	text-decoration: none;
}
/*! FONTS IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;700&family=Space+Grotesk:wght@300;400;500;700&display=swap");

body {
	background-color: #f9c8d9;
	color: aliceblue;
	font-family: "Sora", monospace;
}

#links {
	/* font-size: 80px; */
	color: #2d325b;
	text-decoration: none;
}

button {
	color: #f9c8d9;
	font-family: "Sora", monospace;
	font-size: 14px;
	font-weight: bold;
	border: none;
	text-decoration: none;
	border-radius: 9px;
	background: #2d325b;
	box-shadow: 3px 3px 6px #caa0a9, -3px -3px 6px #ffeaf9;
}

button:active {
	/* border-radius: 25px; */
	border-radius: 9px;
	border: none;
	/* background: #64ed85; */
	box-shadow: inset 3px 3px 6px #caa0a9, inset -3px -3px 6px #ffeaf9;
}

/* 
input {
	width: 20px;
} */

/*! CHECK TILE */

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
	position: absolute;
	left: -9999%;
}

.check-form {
	width: 100%;
	/* background-color: bisque; */
	display: grid;
	grid-template-columns: auto auto auto auto;
}

input[type="checkbox"] + label {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
	font-size: 20px;
	color: black;
	background-color: #2d325b;
	margin-bottom: 10px;
	background: #fea3e1;
	box-shadow: 5px 5px 10px #e0b1bc, -5px -5px 10px #ffd9e6;
}

input[type="checkbox"]:checked + label {
	color: white;
	background: #fea3e1;
	box-shadow: inset 3px 3px 5px #af709b, inset -3px -3px 5px #ffd6ff;
}

#toggle {
	width: 170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: azure; */
}

#toggle h2 {
	margin-left: 10px;
	font-size: 20px;
	font-family: "Nunito", sans-serif;
	font-weight: 800;
}

#toggle-lable {
	display: flex;
	align-items: center;
	width: 100%;
	height: 3rem;
	padding: 0px;
	box-shadow: 5px 5px 10px #e0b1bc, -5px -5px 10px #ffd9e6;
	background: rgba(255, 255, 255, 0);
	position: relative;
	cursor: pointer;
	border-radius: 1.6rem;
}

#toggle-lable::after {
	content: "";
	position: absolute;
	left: 0.4rem;
	width: 2.1rem;
	height: 2.1rem;
	border-radius: 50%;
	background: #2d325b;
	transition: all 0.4s ease;
}

#toggle-lable::before {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background: #2d325b;
	opacity: 0;
	transition: all 0.4s ease;
}

#toggle-input:checked ~ #toggle-lable::before {
	opacity: 1;
}
#toggle-input:checked ~ #toggle-lable::after {
	left: 57%;
	background: #fea3e1;
}
